/* Base Variables */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #fafafa;
    color: black;
}

h1 {
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 48px;
}

p {
    font-style: italic;
    color: #333;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

/* Sketch Box */

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black; 
    border-width: 3px;
    max-width: 700px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    color: rgb(27, 12, 12);
    margin: 0 auto;
}

.grid-square{
    box-sizing: border-box;
    border: 0.5px solid gray;
}

.grid-square:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset rgba (0, 0, 0, 0.1);
}